.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.loginHeader a {
  text-decoration: none;
  color: #007BFF;
  margin-right: 5px;
}

.formsContainer {
  display: flex;
  justify-content: space-around;
}

.google-logo {
  width: 20px;
  height: 20px;
}