.loginHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .loginHeader h1 {
    margin-bottom: 10px;
  }
  
  .loginHeader a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 5px;
  }
  
  .loginHeader p {
    display: inline;
    margin: 0 5px;
  }
  
  .formsContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .loginForm, .signupForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .loginForm h3, .signupForm h3 {
    margin-bottom: 20px;
  }
  
  .loginForm label, .signupForm label {
    margin-bottom: 5px;
  }
  
  .loginForm input, .signupForm input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loginForm button, .signupForm button {
    padding: 10px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .loginForm button:hover, .signupForm button:hover {
    background-color: #0056b3;
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .loginForm p, .signupForm p {
    color: #007BFF;
    cursor: pointer;
  }
  
  .loginForm p:hover, .signupForm p:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-top: 20px;
  }  