.contend-header{
}
.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1e2c30;
color: white;
  padding: 20px;

}

.loginHeader a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

.formsContainer {
  display: flex;
  justify-content: space-around;
}

.google-logo {
  width: 20px;
  height: 20px;
}
.btn{
  background-color: #5c8692 !important;
}

.btn-outline-primary {
  color: #5c8692 !important;
  border:1px solid  #5c8692 !important;
  background-color: transparent !important;
}