body {
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: 80px;
    background-color: #5C8692;
}
.white-icon{
    color: white;
background-color: antiquewhite;
}
nav ul {
    list-style: none;
    padding: 0;
  }
  
nav ul li {
    display: inline;
    margin-right: 20px;
    font-family: 'Manrope';
}
  
nav ul li a {
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
}
  
nav ul li a:hover,
nav ul li a:focus {
    color: var(--md-sys-color-on-secondary);
}
  