:root {
    --md-sys-color-primary: #5C8692;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-primary-container: #1E2C30;
  
    --md-sys-color-secondary: #7A9CA5;
    --md-sys-color-on-secondary: #1E2C30;
    --md-sys-color-secondary-container: #ffffff;
    --md-sys-color-on-secondary-container: #1E2C30;
  
    --md-sys-color-background: #ffffff;
    --md-sys-color-on-background: #1E2C30;
  
    --md-sys-color-surface: #1E2C30;
    --md-sys-color-on-surface: #7A9CA5;
  
    --md-sys-color-error: #b00020;
    --md-sys-color-on-error: #ffffff;
  }

  .button-primary {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }
  
  .button-secondary {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
  }